<div class="back-image">
    <mat-toolbar>
        <a mat-tab-link
            class="logo"
            [routerLink]="'/'">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/98/International_Pok%C3%A9mon_logo.svg/1200px-International_Pok%C3%A9mon_logo.svg.png">
        </a>
        <a [routerLink]="'/generations'">Générations</a>
        <a [routerLink]="'/pokedex'">Pokédex</a>
        <span class="example-spacer"></span>

        <button mat-raised-button>Créer un compte</button>
        <button mat-stroked-button style="border: 1px solid white;">Se connecter</button>

    </mat-toolbar>

    <div class="content">
        <router-outlet></router-outlet>
    </div>
</div>